.toolbar {
  font-family: "Roboto";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: white;
  height: 56px;
  z-index: 999;
}

.toolbar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: 1rem;
}

.toolbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar__navigationItems ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar__navigationItems a {
  color: #008073;
  text-decoration: none;
  cursor: pointer;
}

.toolbar__navigationItems a:hover,
.toolbar__navigationItems a:active {
  color: #fa923f;
}

.toolbar__menu {
  font-size: 40px !important;
  cursor: pointer !important;
  color: #00416d;
}

.toolbar__logo {
  align-self: center !important;
  justify-self: center;
}

.toolbar__logo > h1 {
  color: #00416d;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}
.toolbar__logo > span {
  color: #795548;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 20px;
  margin-left: 20px !important;
}

@media (min-width: 796px) {
  .toolbar__logo {
    margin-left: 0;
  }
}
@media (max-width: 375px) {
  .toolbar__logo h1 {
    font-size: 1.5rem !important;
  }

  .toolbar__logo > span {
    margin-left: 5px !important;
  }
}
@media (max-width: 339px) {
  .toolbar__logo {
    margin: auto !important;
  }
  .toolbar__navigationItems {
    display: none;
  }
}
