.app {
  height: 100%;
  overflow-x: hidden;
}

.app__contentArea {
  display: flex;
  height: 100vh;
}

.MuiPaper-root {
  flex: 1 !important;

  justify-content: flex-end !important;
  align-content: flex-end !important;
}

.app__bottom {
  align-items: flex-end;
  justify-content: flex-end;
}

.toolbar {
  display: none;
}

.drawer__mobile {
  display: none;
}
.container__div {
  display: flex !important;
  height: 100vh !important;
}

.app__contentArea > .sidedrawer {
  flex-grow: 1 !important;
}
.app__contentArea > .skills,
.app__contentArea > .portfolio,
.app__contentArea > .blog,
.app__contentArea > .home,
.app__contentArea > .experience,
.app__contentArea > .resume,
.app__contentArea > .offer,
.app__contactArea > .contact {
  flex-grow: 5 !important;
  overflow: auto !important;
}

@media (max-width: 796px) {
  .toolbar {
    display: block;
  }
  .app__sidedrawer {
    display: none;
  }
  .drawer__mobile {
    display: block;
  }
}

@media (max-width: 1300px) {
  .drawer {
    display: none;
  }
}
